<!DOCTYPE html>
	<html>
	<html lang="en" dir="ltr">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Andrzej L. Ruprecht Official Website" name="description">
    <meta content="Michal T. Ruprecht" name="author">
    <meta name="keywords" content="Andrzej L. Ruprecht, Andrzej Lech Ruprecht, Dr. Andrzej L. Ruprecht, Dr. Ruprecht, Bialowieza">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://AndrzejRuprecht.github.io/main.css">
    <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
    <link rel="shortcut icon" async href="https://AndrzejRuprecht.github.io/assets/favicon.ico"/>
    <style media="screen"></style>
    <script src="https://AndrzejRuprecht.github.io/script.js"></script>
  </head>


	<body>
		{{ content }}
			<footer>
        <div class="container">
					<h3>
						<center><big>
							<big>
								<a href="https://andrzejruprecht.github.io">English</a>｜
								<a href="https://andrzejruprecht.github.io/pages/pl">Polski</a></big>
             <br /><br /><a class="containerbutton" href="mailto:DrAndrzejRuprecht@gmail.com" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
						 <a class="containerbutton" href="https://pl.wikipedia.org/wiki/Andrzej_Lech_Ruprecht" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/wiki.svg" alt="wikipedia" style="width:32px;"></a>
             <br /><br /><hr width="20%" size="2" color="#D34F63"></hr>
             <br /><div class="smalltext">Site designed and created by <a href="https://michalruprecht.com/" target="_blank">Michal Ruprecht</a>.</div>
             Copyright © 2020 - <script>document.write(new Date().getFullYear())</script> Andrzej Lech Ruprecht. All Rights Reserved.
          </center></h3>
        </div>
			</footer>
		</body>
	</html>
