<!DOCTYPE html>
	<html>
	<html lang="en" dir="ltr">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Michal T. Ruprecht" name="author">
    <meta name="keywords" content="Andrzej L. Ruprecht, Andrzej Lech Ruprecht, Dr. Andrzej L. Ruprecht, Dr. Ruprecht, Bialowieza, , Andrzej Lech Ruprecht, Andrzej L Ruprecht, Andrzej Ruprecht, AL Ruprecht">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://AndrzejRuprecht.github.io/main.css">
    <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
    <link rel="shortcut icon" async href="https://AndrzejRuprecht.github.io/assets/favicon.ico"/>
    <style media="screen"></style>
    <script src="https://AndrzejRuprecht.github.io/script.js"></script>
  </head>


	<body>
		{{ content }}
			<footer>
				<div class="photo">
					<img src="https://AndrzejRuprecht.github.io/assets/banner.svg" alt="This is Andrzej L. Ruprecht, Andrzej Lech Ruprecht, Andrzej L Ruprecht, Andrzej Ruprecht, AL Ruprecht">
				</div>
        <div class="container">
					<h3>
						<center><big>
							<big>
								<a href="https://andrzejruprecht.github.io">English</a>｜
								<a href="https://andrzejruprecht.github.io/pages/pl">Polski</a></big>
             <br /><br />
						 	<a class="containerbutton" href="mailto:DrAndrzejRuprecht@gmail.com" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
						 	<a class="containerbutton" href="https://scholar.google.com/citations?user=XcLSwFMAAAAJ&hl=en&oi=ao" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/scholar.svg" alt="Google Scholar" style="width:32px;"></a>
						 	<a class="containerbutton" href="https://orcid.org/0000-0003-1378-7554" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/orcid.svg" alt="ORCID" style="width:32px;"></a>
							<a class="containerbutton" href="https://www.researchgate.net/profile/Andrzej-Ruprecht" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/researchgate.svg" alt="Research Gate" style="width:32px;"></a>
							<a class="containerbutton" href="http://www.encyklopedia.puszcza-bialowieska.eu/index.php?dzial=haslo&id=777" target="_blank"><img src="https://AndrzejRuprecht.github.io/assets/icons/link.svg" alt="Andrzej L. Ruprecht link" style="width:32px;"></a>
             <br /><br />
             <div class="smalltext">Site designed and created by <a href="https://michalruprecht.com/" target="_blank">Michal Ruprecht</a>.</div>
             Copyright © 2020 - <script>document.write(new Date().getFullYear())</script> Andrzej Lech Ruprecht. All Rights Reserved.
          </center></h3>
        </div>
			</footer>
		</body>
	</html>
